* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: grey;
  min-height: 100vh;
  min-width: 550px;
  padding: 65px;
}

.search-container {
  margin-bottom: 260px;
}

.search-input {
  font-size: 40px;
  height: 50px;
  width: 500px;
  padding: 10px 30px;
  border:1px solid black
}

.search-input:focus-visible {
  outline: none;
}

.hint-container {
  position: absolute;
}

.hint-card {
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid black;
  height: 30px;
  width: 500px;
  font-size: 30px;
  padding: 10px 30px;
}

.hint-card:hover {
  opacity: 0.7;
}

.added-card {
  position: relative;
  display: grid;
  grid-template-areas:
    'a d'
    'b d'
    'c d';
  grid-template-columns: 1fr 90px;
  background-color: blueviolet;
  vertical-align: bottom;
  border: 1px solid black;
  height: 100px;
  width: 500px;
  font-size: 25px;
  padding: 10px 30px;
}

.close-btn {
  position: relative;
  grid-area: d;
  cursor: pointer;
}

.close-btn::after {
  position: absolute;
  display: block;
  content: '';
  width: 90px;
  height: 5px;
  background-color: red;
  right: -50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::before {
  position: absolute;
  display: block;
  content: '';
  width: 90px;
  height: 5px;
  background-color: red;
  right: -50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}